<div class="container" *ngIf="emList">
    <h2>
   
    <table class="table table-striped">  
    
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Salary</th>
                <th>DOB</th>
            </tr>
        </thead>
    
        <tbody>
            <ng-container *ngFor="let employee of employees;">
                <tr>
                    <td> {{ employee.code}}</td>
                    <td> {{ employee.name}}</td>
                    <td> {{ employee.gender}}</td>
                    <td> {{ employee.annualSalary}}</td>
                    <td> {{ employee.dateOfBirth}}</td>
                    <!-- <td><a (click)="UpdateEmForm(employee)">Edit</a></td> -->
                    <td class="success"><a (click)="UpdateEmForm(employee)">Edit</a></td>  
                    <td class="danger"><a (click)="DeleteEmRecord(employee.code)">Delete</a></td>
                </tr>
    
            </ng-container>
           
        </tbody>
    </table>
    </h2>
    </div>
<form [formGroup]="updateForm" (ngSubmit)="UpdateEm(updateForm)" #formDir="ngForm">
<!-- <form #updateForm="ngForm" (OnSubmit)="UpdateEm(updateForm)"> -->
        <div id="modalsignup" *ngIf="editEmp">
                <div class="modal-dialogsignup">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Update Emp</h4>
                        </div>
                        <div class="modal-body">
            
                            <div class="form-group">
                                <label>Code</label>
                                <input type="text" class="form-control" name="Code"  [(ngModel)]='Code' formControlName="code">
                                                                                     
                            </div>
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" name="Name" [(ngModel)]='Name' formControlName="name">
                            </div>
            
                            <div class="form-group">
                                <label>Gender</label>
                              
                                <input type="text" class="form-control" name="Gender" [(ngModel)]='Gender' formControlName="gender">
                            </div>
                            <div class="form-group">
                                    <label>AnnualSalary</label>
                                  
                                    <input type="text" class="form-control" name="AnnualSalary" [(ngModel)] ='AnnualSalary' formControlName="annualSalary">
                                </div>
                                <div class="form-group">
                                        <label>DateOfBirth</label>
                                      
                                        <input type="text" class="form-control" name="DateOfBirth" [(ngModel)]='DateOfBirth' formControlName="dateOfBirth">
                                    </div>
            
                        </div>
                        <div class="modal-footer">
                           
                            <input type="button" class="btn btn-info" value="UpdateEm" (click)="UpdateEm(updateForm)">
            
            
                        </div>
              </div>
            
                </div>
            </div>
</form>
<router-outlet></router-outlet>