<div class="container">
    <form style="  font-family: Calibri; border-color: red ">

        <h4 class="modal-title"> {{date}} </h4>
        <form>

            <input type="button" class="btn btn-info" value="CreateEm" (click)="Test()">
            <div>
                <Table>
                    <div class="form-group">
                        <tr>
                            <td style="text-align: right">
                                <label>Title : </label>
                            </td>
                            <td style="text-align: left">
                                <select >
                                    <option class="selectpicker" >--Select--</option>
                                    <option *ngFor="let tt of titlelist" [value]="tt.id" class="form-control">
                                        {{tt.Title}}
                                    </option>
                                </select>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </div>
                    <div class="form-group">
                        <tr>
                            <td style="text-align: right">
                                <label>Name : </label>
                            </td>
                            <td style="text-align: left">
                                <input type="text" class="form-control" name="Name" [(ngModel)]='name' placeholder="Enter the name" minlength="4" #nameControl="ngModel"
                                    required>
                                <div *ngIf="nameControl.errors && (nameControl.dirty || nameControl.touched )" class="alert alert-danger">
                                    <div [hidden]="!nameControl.errors.required">
                                       Name is mandatory.
                                    </div>
                                    <div [hidden]="!nameControl.errors.minlength">
                                     Name should be greater then 4 char.
                                     </div>
                                     <div [hidden]="!nameControl.errors.maxlength">
                                       Name should less then 30 char.
                                     </div>

                                </div>

                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </div>
                    <div class="form-group">
                        <tr>
                            <td style="text-align: right">
                                <label>Phone Number : </label>
                            </td>
                            <td style="text-align: left">
                                <input type="number" class="form-control" name="Phone" [(ngModel)]='phone' placeholder="Enter phone number" minlength="10" maxlength="10"  #phoneControl="ngModel" required>
                                <div *ngIf="phoneControl.errors && (phoneControl.dirty || phoneControl.touched )" class="alert alert-danger">
                                        <div>
                                            Phone is mandatory. | it's not a valied phone number 
                                        </div>
    
                                    </div>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </div>
                    <div class="form-group">
                        <tr>
                            <td style="text-align: right">
                                <label>Alternative Phone Number : </label>
                            </td>
                            <td style="text-align: left">
                                <input type="number" class="form-control" name="AlterPhone" [(ngModel)]='alterphonr' minlength="10" maxlength="10"  placeholder="Enter alternative phone number"
                                    #alternativePhoneControl="ngModel">
                                    <div *ngIf="alternativePhoneControl.errors " class="alert alert-danger">
                                        <div [hidden]="!alternativePhoneControl.errors.minlength">
                                            it's not a valied phone number 
                                        </div>
                                      
    
                                    </div>
                                 
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </div>

                    <div class="form-group">
                        <tr>
                            <td style="text-align: right">
                                <label>Sex : </label>
                            </td>
                            <td style="text-align: left">
                                <select>
                                    <option>--Select--</option>
                                    <option *ngFor="let se of sexList" [value]="se.id" class="form-control">
                                        {{se.Sex}}
                                    </option>
                                </select>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </div>

                    <div class="form-group">
                        <tr>
                            <td style="text-align: right">
                                <label>Date of Birth : </label>
                            </td>
                            <td style="text-align: left">
                                <input type="date" class="form-control" name="Dob" [(ngModel)]='dob' placeholder="pick your date of birth" #DOBControl="ngModel">
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </div>
                    <div class="form-group">
                        <tr>
                            <td style="text-align: right">
                                <label>Email ID : </label>
                            </td>
                            <td style="text-align: left">
                                <input type="email" class="form-control" name="Email" [(ngModel)]='email' placeholder="enter the email id" #emailControl="ngModel">
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </div>
                    <div class="form-group">
                        <tr>
                            <td style="text-align: right">
                                <label>Select : </label>
                            </td>
                            <td style="text-align: left">
                                <select (change)="onChange2($event)">
                                    <option>--Select--</option>
                                    <option *ngFor="let Con of country" class="form-control" [value]="Con.ID">
                                        {{Con.Name}}
                                    </option>
                                </select>
                            </td>
                            <td>
                                <select (change)="onChange($event)">
                                    <option>--Select--</option>
                                    <option *ngFor="let st of state" class="form-control" [value]="st.ID" readonly="true">
                                        {{st.Name}}
                                    </option>
                                </select>
                            </td>
                            <td>
                                <select (change)="onChangecity($event)">
                                    <option value="0">--Select--</option>
                                    <option *ngFor="let ct of city" class="form-control" [value]="ct.ID">
                                        {{ct.Name}}
                                    </option>
                                </select>
                            </td>
                        </tr>
                    </div>
                    <div class="form-group">
                        <tr>
                            <td style="text-align: right">
                                <label>Address : </label>
                            </td>
                            <td style="text-align: left">
                                <input type="text" class="form-control" name="Address" [(ngModel)]='address' placeholder="enter local address" #addressControl="ngModel">
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </div>
                    <div class="form-group">
                        <tr>
                            <td style="text-align: right">
                                <label>Pin Code : </label>
                            </td>
                            <td style="text-align: left">
                                <input type="text" class="form-control" name="PinCode" [(ngModel)]='pincode' placeholder="Enter pin code" #pincodeControl="ngModel">
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </div>
                    <div class="form-group">
                        <tr>
                            <td style="text-align: right">
                                <label>How long you stay here : </label>
                            </td>
                            <td style="text-align: left">
                                <select>
                                    <option>--Select--</option>
                                    <option *ngFor="let how of Howlongyearlist" class="form-control" [value]="how.id">
                                        {{how.Year}}
                                    </option>
                                </select>
                            </td>

                            <td style="text-align: left">
                                <select>
                                    <option>--Select--</option>
                                    <option *ngFor="let mm of howlongmonthlist" class="form-control" [value]="mm.id">
                                        {{mm.Month}}
                                    </option>
                                </select>
                            </td>

                            <td></td>
                        </tr>
                    </div>
                    <div class="form-group">
                        <tr>
                            <td style="text-align: right">
                                <label>Is your Permanent address : </label>
                            </td>
                            <td style="text-align: left">
                                <input type="radio" class="form-control" value="male" name="gender" ngModel> Yes
                                <input type="radio" class="form-control" value="female" name="gender" ngModel> No
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </div>
                    <div class="form-group">
                        <tr>
                            <td style="text-align: right">
                                <label>Aadhar Number : </label>
                            </td>
                            <td style="text-align: left">
                                <input type="number" class="form-control" name="Aadhar" [(ngModel)]="aadhar" placeholder="enter aadhar number" #aadharControl="ngModel">
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </div>
                    <div class="form-group">
                        <tr>
                            <td style="text-align: right">
                                <label>Occupation : </label>
                            </td>

                            <td style="text-align: left">
                                <select>
                                    <option>--Select--</option>
                                    <option *ngFor="let oo of Occupationlist" class="form-control" [value]="oo.id">
                                        {{oo.Occupation}}
                                    </option>
                                </select>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </div>
                    <div class="form-group">
                        <tr>
                            <td style="text-align: right">
                                <label>Employement No : </label>
                            </td>
                            <td style="text-align: left">
                                <input type="text" class="form-control" name="ENo" [(ngModel)]='eno' placeholder="enter employement Number" #enoControl="ngModel">
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </div>
                    <div class="form-group">
                        <tr>
                            <td style="text-align: right">
                                <label>Designation : </label>
                            </td>

                            <td style="text-align: left">
                                <select>
                                    <option>--Select--</option>
                                    <option *ngFor="let de of DesignationList" class="form-control" [value]="de.id">
                                        {{de.Designation}}
                                    </option>
                                </select>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </div>
                    <div class="form-group">
                        <tr>
                            <td style="text-align: right">
                                <label>Salary Range : </label>
                            </td>
                            <td style="text-align: left">
                                <select>
                                    <option>--Select--</option>
                                    <option *ngFor="let sl of SalaryLiat" class="form-control" [value]="sl.id">
                                        {{sl.SalaryRange}}
                                    </option>
                                </select>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </div>

                    <tr>
                        <td>
                        </td>
                        <td>

                        </td>
                        <td></td>
                        <td>
                            <input type="button" class="form-control" value="SaveToDraff">
                            <input type="button" class="form-control" value="Save DB">

                        </td>

                    </tr>
                    <tr>

                        <td>

                        </td>
                        <td>

                        </td>
                        <td></td>
                    </tr>
                </Table>
            </div>

        </form>
    </form>
</div>