<form #regForm="ngForm" (ngSubmit)="Registration(regForm)">

    <div id="modalsignup">
        <div class="modal-dialogsignup">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Registration</h4>
                </div>
                <div class="modal-body">
    
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" 
                               class="form-control" 
                               name="Email" 
                               [(ngModel)]='email' >
                    </div>

                    <div class="form-group">
                        <label>Password</label>
                        <input type="text" 
                               class="form-control" 
                               name="Password" 
                               [(ngModel)]='password' >
                    </div>
    
                    <div class="form-group">
                        <label>Confirm Password</label>
                      <input type="text" 
                            class="form-control" 
                            name="ConfirmPassword" 
                            [{ngModel}] = "ConfirmPassword">
                    </div>
    
                </div>
                <div class="modal-footer">
                   
                    <input type="button" 
                           class="btn btn-info" 
                           value="Registration" 
                           (click)="Register(regForm)">
    
    
                </div>
      </div>
    
        </div>
    </div>
    </form>