<div *ngIf='showHideLogin' class="container">
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav pull-right">
            <li>
                <a routerLink='login' class="nav navbar-nav">Login</a>
                <a routerLink='signup' class="nav navbar-nav">Registration</a>
                <a routerLink='changepassword' class="nav navbar-nav">ChangePassword</a>
                <a routerLink='development' class="nav navbar-nav">Development</a>
            </li>

        </ul>

    </nav>
    <div></div>
    <router-outlet></router-outlet>
</div>

<div *ngIf='showHideHome' class="container">
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav pull-right">
            <li>
                <a routerLink='home' class="nav navbar-nav">Home</a>
            </li>
        </ul>

    </nav>
    <router-outlet></router-outlet>
</div>

<div *ngIf='showHideDialog'  class="container" tabindex="-1" role="dialog">
    <nav class="navbar navbar-default">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Your request has save sucessfully.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (Click)="OkSet()" >Ok</button>
                </div>
            </div>
        </div>

    </nav>
    <router-outlet></router-outlet>
    </div>


<!-- // Not working Manish -->
<div *ngIf='_showPopup' class="container" class="modal" tabindex="-1" role="dialog">
   
  
</div>
